.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width: 1023px) {
  .place__text {
    gap: 25px;
  }
}

@media (max-width: 767px) {
  .place__text {
    margin: 0 auto;
  }
}
