.place__url-heading {
  text-transform: uppercase;
  margin: 0 0 12px;
  color: var(--url-heading-color);
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
}

@media (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}
